* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 10%;
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  background-color: bisque;
  margin: 10% 0;
  height: 100%;
}

section h2 {
  font-style: italic;
  text-align: center;
  padding: 3% 0;
  font-family: "Freestyle Script", sans-serif;
  font-size: 300%;
}

#gameStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#seconds {
  width: 150px;
  margin: 0;
  margin-bottom: 2%;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 5%;
  box-shadow: none;
  border: none;
  background-color: yellowgreen;
  color: floralwhite;
  margin-top: 2%;
}
button:hover {
  width: 150px;
  height: 70px;
}
button:active {
  background-color: aquamarine;
  color: black;
}
#keyGround {
  display: flex;
  height: 100%;
}

#keyGround div {
  margin-top: 3%;
  flex: 1;
  border: 1px solid;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#keyGround div h4 {
  animation: swing ease-in-out 0.3s infinite alternate;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

h3 {
  text-align: center;
  color: red
}
